<!-- تخفیف‌هایی که در سیستم تعریف شده -->
<!-- TODO: maso, 1395: در حالت خطا یک صفحه با امکان reload اضافه بشه. -->
<md-content
	wb-infinate-scroll="nextPage"
	layout="column"
	flex>
	<!-- Action bar -->
	<mb-pagination-bar
		mb-model="paginatorParameter"
		mb-reload="reload"
		mb-sort-keys="sortKeys"
		mb-more-actions="moreActions">
	</mb-pagination-bar>
	
	<!-- Discount list -->
	<md-list>
		<md-subheader class="md-no-sticky">Discounts</md-subheader>
		<md-list-item 
			ng-repeat="pobject in ctrl.items track by pobject.id"
			class="md-3-line" 
			ng-href="{{'discount/'+pobject.id}}">
			<wb-icon>card_giftcard</wb-icon>
			<div 
				class="md-list-item-text" 
				layout="column">
				<h3>{{pobject.id}}  -  {{pobject.code}}</h3>
				<h4>Off: {{pobject.off_value}},  
					Remain count: {{pobject.remain_count ? pobject.remain_count : 0}} of {{pobject.count}},
					Valid day: {{pobject.valid_day ? pobject.valid_day : 'undefined'}}
				</h4>
				<p><b>{{pobject.name}}</b>, {{pobject.description}}</p>
			</div>
			<md-divider md-inset></md-divider>
		</md-list-item>
		<!-- Preloading. -->
		<div layout="column" layout-align="center center">
			<md-progress-circular 
				ng-show="ctrl.status === 'working'" 
				md-diameter="96"> Loading ...
			</md-progress-circular>
		</div>
	</md-list>
	<div
		layout="column"
		layout-align="center center"
		ng-show="!ctrl.items || ctrl.items.length == 0">
		<h2>Empty discount list</h2>
		<p>No discount match with the query. You can add a new discount.</p>
		<md-button
			ng-click="add()">
			<wb-icon>add</wb-icon>
			<span translate>Add</span>
		</md-button>
	</div>
</md-content>
